/* font-family: 'Lexend Deca', sans-serif; */
* {
    margin: 0px;
    padding: 0px;
}
.largetext {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 80px;
    font-weight: 700;
    margin: 0px 20px;
    text-align: center;
}
#body {
display: flex;
justify-content: center;
}
.bodywrapper {
    /* max-width: 1200px; */

}
.Navwrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #0f0f0f20;
}
.IntroWrapper {
    display: flex;
    justify-content: center;
}
.navSection {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: space-between;
    max-width: 1200px;
}
.logo {
    width: auto;
    height: 50px;
    margin: 12px;
}
.navLogoSec {
    margin: 12px 0px;
}
.Navlinksec {
    display: flex;
    align-items: center;
}
.navlink {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 20px;
}
.Purachse-button {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    background-color: #F4B812;
    border-radius: 40px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.purchaseIcon {
    margin-left: 14px;
}
.introSection {
    display: flex;
    align-items: center;
    margin: 112px 0px;
    max-width: 1200px;
}
.introtext-img-cont {
    display: flex;
}
.introLeft {
    margin-right: 24px;
}
.Intro-Header {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 30px;
}
.bodytext {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #0f0f0f50;
}
.Headhilighter {
    color: #12602D;
    font-weight: 700;
    font-size: 100px;
}
.introfruit {
    width: 350px;
}
.intro-pointSection {
    margin-left: 14px;
}
.intro-pointwrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.introIcon {
    width: auto;
    height: 50px;
    margin-right: 26px;
}
.subHeader,.footer-logo-text {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24px;
    color: #0f0f0f;
    margin-bottom: 8px;
}
.featuresSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.varietyCard {
    display: inline-block;
    padding: 80px 20px 20px 20px;
    width: 120px;
    background-color: #FFBFBF;
    border-radius: 20px;
    margin: 40px 20px;
}
.vartext {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    color: #0f0f0f;
    text-align: center;
}
.varietyscrollwrapper {
    margin: 80px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.varietyscrollwrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .varietyscrollwrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .varietyscrollwrapper {
    position: relative;
    /* overflow-x: scroll; */
}
.VaretyscrollContent {
    display: flex;
    /* padding: 80px; */
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.vartyImgcontainer {
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.varjuiceimg {
    position: absolute;
    height: 255px;
    bottom: 0px;
}

.girlImg {
    width: 364px;
}
.SecondBannerWrapper {
    display: flex;
    width: 100%;
}
.Secondtxtcontainer {
    padding: 70px 120px;
    background-color: #FFEB80;
    width: 100%;
}
.SecBanImgCont {
    position: relative;
    width: 100%;
    height: 100%;
}
.floatimagCont {
    width: 50%;
}
.secBanImg {
    height: 440px;
    width: auto;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.SecondBanHeader {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 34px;
    color: #12602D;
    font-weight: 600;
    margin-bottom: 16px;
}
.secBanbody {
    color: #12602D;
    font-weight: 400;
    margin-bottom: 8px;
}
.Secondary-button, .sec-button {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #12602D;
    color: #ffffff;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFEB80;
    font-weight: normal;
}
.sec-button {
    padding: 8px 24px;
    color: #ffffff;
    font-size: 16px;
}
.certificatewrapper {
    display: flex;
    justify-content: center;
}
.certificatecontainer {
    display: flex;
    padding: 80px 0px;
}
.cert-logo {
    padding: 0px 20px;
    height: 44px;
    width: auto;
}
.easy-make-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFEB80;
    margin-top: 80px;
}
.easymakecontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 1020px;
    padding: 78px 120px;
}
.makingtxtcontainer {
    padding-left: 80px;
}
.floating-papaya {
    position: relative;
}
.pappaya {
    width: auto;
    height: 280px;
    left: 0px;
    top:80px;
    position: absolute;
    z-index: 2;
}
.easyimgscontainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.makingImag {
    height: 336px;
    width: auto;
}
.playbutton {
    position: absolute;
}
.bannerwrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFEB80;

}
.mixedFruitsWrapper {
    position: relative;
}
.bannerWrappertxt {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 200px;
    font-weight: 800;
    color: #0f0f0f;
    text-align: center;
    margin-bottom: 14px;
    padding: 70px 114px 120px;
    background-color: #FFEB80;

}
.mixed-fruits {
    height: 588px;
    width: auto;
    position: absolute;
    right: 0px;
    bottom: -20px;
}
.Childsafewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent-child-img {
    height: 384px;
    width: auto;
    margin: 0 auto;
}
.childsafetxtcont {
    margin-top: 32px;
}
.Header {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #12602D;
    text-align: center;
    margin-bottom: 14px;
}
.centtext {
    color: #12602D;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: center;
}
.footerwrapper {
    background-color: #0f0f0f;
    padding: 80px 120px;

}
.footerContent {
    display: flex;
}
.footer-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.footerlinks-wrapper {
    margin: 0px 20px;
}
.footerlink ,.footerHeader,.copyright {
    margin-bottom: 16px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff50;
    cursor: pointer;

}
.footerHeader {
    color: #ffffff;
}
.copyright {
    font-size: 12px;
    text-align: center;
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
    cursor: pointer;

}
.footer-logo-text {
    color: #ffffff;
    max-width: 156px;
    text-align: center;
    margin-top: 30px;
}
.footer-social-links {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-between;
}
.social-logo {
    width: auto;
    height: 32px;
    margin: 20px;
    cursor: pointer;
}
.copyright {
    margin-top: 40px;
}